section{
  width: 380px;
}
label,
input{
  margin-top: 10px;
  display: block;
  width: 100%;
}
input{
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
}

button{
  margin-top: 20px;
  margin-left: 25%;
  width: 50%;
}
