section{
  width: 380px;
}
label,
input{
  margin-top: 10px;
  display: block;
  width: 100%;
}
input{
  border-radius: 5px;
  border: 1px solid grey;
  padding: 5px;
  margin-top: 5px;
}
button{
  margin-top: 15px;
}

button,
input{
  width: 100%
}
